body {
  font-family: 'Roboto', sans-serif;
}

#page-home {
  height: 100vh;
}

#page-home .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#page-home .content header {
  margin: 48px 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#page-home .content .logo {
  flex: 4;
}
#page-home .content .pesquisa {
  align-content: flex-end;
}

#page-home .content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home .content main h1 {
  font-size: 54px;
  color: var(--title-color);
}

#page-home .content main p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 38px;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;
}

#page-home .content main a span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-home .content main a span svg {
  color: #FFF;
  width: 20px;
  height: 20px;
}

#page-home .content main a strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}

#page-home .content main a:hover {
  background: #2FB86E;
}

#page-home .content fieldset {
  border: none;
}

#page-home .content .field-group {
  flex: 1;
  display: flex;
}

#page-home .content .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-home .content .field.cards {
  flex: 2;
}

#page-home .content .field.cart{
  flex: 1;
}

#page-home .content .field .pokemons,
#page-home .content .field .buy {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#page-home .content .field .pokemons .stats ul {
  padding-inline-start: 0;
}

#page-home .content .field .pokemons .stats li {
  border: none;
  background: transparent;
  line-height: 20px;
  border-radius: initial;
  margin-right: 0;
  padding: 0;
  list-style: inside;
  text-transform: capitalize;
}

#page-home .content .field .pokemons li {
  line-height: 25px;
  border: 2px solid #f1f1f1;
  border-radius: 7px;
  padding: 25px;
  margin-right: 35px;
  background: linear-gradient(0deg, rgba(251,250,250,1) 0%, rgba(255,255,255,1) 100%);
  text-align: left;
}

#page-home .content .field .pokemons .name {
  font-weight: bold;
  text-transform: capitalize;
  color: #272727;
  font-size: 24px;
}

#page-home .content .field .pokemons .poke-image {
  height: 96px;
  width: 96px;
  margin: 0 auto;
  display: inherit;
}
.price {
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

button[type=btn-buy],
button[type=subimit] {
  width: 180px;
  height: 46px;
  background: #2FB86E;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.cart h1 {
  text-align: center;
  margin: 16px 0 30px 0;
}
.cart .buy-card {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 350px;
  height: auto;
}
.cart .buy-card li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
.cart .buy-card li:last-child {
  border: none;
}
.cart .buy-card span {
  float: left;
  margin-bottom: 20px;
}
.cart .buy-card span.name {
  text-transform: capitalize;
  width: 140px;
  line-height: 95px;
  padding-left: 20px;
}
.cart .buy-card span.price {
  font-size: 14px;
  line-height: 54px;
}
.cart .buy-card span.calcula-preco {
  float: right;
  padding-left: 2px;
}

button[type=subimit] {
  width: 100%;
}


@media(max-width: 900px) {
  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
  }

  #page-home .content main h1 {
    font-size: 42px;
  }

  #page-home .content main p {
    font-size: 24px;
  }
}
